
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
    margin: 0;
}

p {
    margin-left: 10px;
    border-left: 3px solid #000;
    padding-left: 10px;
    margin-bottom: 465px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.headlinks {
    margin: 0;
    padding-bottom: 50px;
}

.button {
    color: white;
    background-color: #000;
}

a {
    text-decoration: none;
    color: #69696a;
}

h1 {
    font-size: 2.5em;
    position: static;
}

h2 {
    font-size: 1.1em;
    padding-top: 20px;
    padding-left: 20px;
}

footer {
    width: 100%;
    position: fixed;
    background-color: rgba(247, 193, 162, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 0;
}

.footchirp {
    color: #000;
}

