body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  margin: 0;
}

p {
  margin-left: 10px;
  border-left: 3px solid #000;
  padding-left: 10px;
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.headkids {
    padding-bottom: 20px;
}

.button1 {
  display: block;
  color: white;
  background-color: #000;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: 2%;
}

.button2 {
  display: block;
  color: white;
  background-color: #000;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: 2%;
}

a {
  text-decoration: none;
  color: #69696a;
}

h1 {
  font-size: 2.5em;
  position: static;
}

h2 {
  font-size: 1.1em;
  padding-left: 20px;
}

footer {
  background: rgba(247, 193, 162, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footnav {
    display: flex;
    justify-content: space-between;
}

.navfoot {
    padding-left: 10px;
    padding-right: 10px;
}

.chirpus {
    color: #000;
    padding-left: 20px;
}
